<!doctype html>
<html>

<head>
    <title> Bazaar - Comprar e vender - {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h4>{{titulo}}</h4>
        </div>

        <form action="/compra/criar" method="post">
            

            <p><label for="anc">Anúncio</label>
            <select id="anc" name="anc"> <br/>
                {% for anuncio in anuncios %} 
                    <option value="{{ anuncio.id }}">{{ anuncio.nome }}</option>
                {% endfor %}
            </select></p>

            <p><label for="uso">Usuário</label>
            <select id="uso" name="uso"> <br/>
                {% for usuario in usuarios %} 
                    <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
                {% endfor %}
            </select></p>

            <div class="form-group">
                <label for="qtd"> Quantidade </label>
                <input type="text" class="form-control" id="qtd" name="qtd">         
            </div> 

            <div class="form-group">
                <label for="desc"> Desconto </label>
                <input type="text" class="form-control" id="desc" name="desc">         
            </div> 

            

            

            <button type="submit" class="btn btn-primary" > Cadastrar </button>
            <button type="reset" class="btn btn-primary" > Limpar </button>
        </form>
    </div>
    <br/>

    <div class="container">
        <div class="page-header">
            <h4>Lista de {{titulo}}</h4>
        </div>
    
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thread-default">
            <tr>
                <th>Quantidade</th>
                <th>Desconto</th>
                <th>Anúncio</th>
                <th>Usuário</th>
                <th>Editar</th>
                <th>Deletar</th>
                

            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>{{ compra.qtd }}</td>
                <td>{{ compra.desc }}</td>
                <td>{{ compra.anc_id }}</td>
                <td>{{ compra.usu_id }}</td>
                <td><a href={{ url_for("editarcompra",id=compra.id) }}>Editar</a></td>
                <td><a href={{ url_for("deletarcompra",id=compra.id) }}>Deletar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div> 

    

    <div class="container"> 
        <p><a href={{ url_for("index") }}>Voltar ao Menu Principal</a></p>
    </div>
        
    
</body>

</html>