<!doctype html>
<html>

<head>
    <title> Bazaar - Comprar e vender</title>
</head>

<body>
    <h1>Bem-vindo ao Bazaar</h1>
    <p><a href={{ url_for("cadusuario") }}>Cadastro de Usuários</a></p> <!--OK-->
    <p><a href={{ url_for("anuncio") }}>Cadastro de Anúncios</a></p> <!--OK-->
    <p><a href={{ url_for("categoria") }}>Cadastrar Categoria</a></p>
    <p><a href={{ url_for("favorito") }}>Favoritos</a></p>
    <p><a href={{ url_for("pergunta") }}>Perguntas</a></p>
    <p><a href={{ url_for("compra") }}>Compras</a></p>
   

    <p><a href={{ url_for("logout") }}>Log Out</a></p>


    
</body>

</html>