<html>

<head>
    <title> Bazaar - Login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
    <h4>Login</h4>
    <form action="/login" method="post">

        <p><label for="email"> E-mail </label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="senha"> Password </label></p>
        <p><input type="password" id="senha" name="senha"></p>

        <p><input type="submit" value="Logar"></p>
       
    </form>
    
</body>


</html>